* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style-type: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.center {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.container10 {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.text {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 65px;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    padding: 1% 0%;
    text-align: center;
}

h4 {
    padding-top: 100px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Kaushan Script',
        cursive;
    text-align: center;
}

.grey {
    color: grey;
}

.red {
    color: red;
    padding: 1.5%;
    text-align: center;
}

.container1 {
    background-image: url('./images/arel.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1000px;
    min-height: 568px;
    background-position-x: 50%;
}

.container1:hover {
    background-image: url('./images/layer.png');
}

header {
    display: flex;
    justify-content: space-between;
}

.menu {
    padding-top: 36px;
}

.menu ul {
    display: flex;
}

.menu ul li {
    padding: 0 4%;
    cursor: pointer;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    padding-top: 25px;
}

.menu ul li a,
.menu ul li i {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
}

.menu ul li:hover a,
.menu ul li:hover i {
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    transition: 0.3s;
}

.content h2 {
    font-size: 72px;
    color: #ffffff;
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-weight: 400;
    padding-top: 10vh;
}

.content h1 {
    font-size: 150px;
    color: #ffffff;
    text-align: center;
}

.pod {
    color: #ffffff;
    text-align: center;
}

.kn {
    text-align: center;
    margin-top: 22px;
}

button {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.048);
    font-size: 20px;
    padding: 10px 23px;
    border: 1px double rgb(250, 250, 250);
    cursor: pointer;
}

button:hover {
    background-color: #f4c83679;
    color: white;
}

button:focus {
    background-color: rgb(238, 170, 232);
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 65px;
}

.cards .item {
    width: 32%;

}

.rad {
    padding: 33% 0;
    text-align: center;
    color: rgba(255, 255, 255, 0);
}

.card1 {
    background-image: url(./images/card1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.card2 {
    background-image: url(./images/card2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    Cursor: grab;
}

.card3 {
    background-image: url(./images/card3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}

.item:hover div {
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px #95e1d3;
    transition: 0.6s ease-in-out;
    margin-top: -10px;

}

.item:active {
    background: #95e1d3;
    box-shadow: 10px 10px #95e1d300;
    transition: 0.6s ease-in-out;
}

.rad a {
    color: rgba(255, 0, 0, 0);
}

.rad:hover a {
    color: rgb(255, 255, 255);
}

.fa-user-friends {
    content: "\f0f3";
    font-size: 20pt;
}

.container3 {
    background-color: #95e1d3;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.list {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blu {
    font-size: 75px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.5% 3%;
    border-right-color: #ffffff;
    border-right-style: solid;
    border-right-width: 0px;
    border-left-color: #ffffff;
    border-left-style: solid;
    border-left-width: 1px;
}

.blu_24 {
    border-right-width: 1px;
}

.blu p {
    font-size: 14px;
}

.blu h5 {
    font-size: 86%;
}

.AMAZING {
    max-width: 1200px;
    width: 90%;
    margin: 2% auto;
    padding-bottom: 65px;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr 0.2fr 0.8fr 0.2fr 0.8fr;
    grid-template-rows: 1fr 1fr;
}

.fa-tv {
    content: "\f26c";
    color: #43a9ff;
    font-size: 30pt;
    padding-top: 30%;
}

.fa-house-user {
    content: "\f965";
    color: #43a9ff;
    font-size: 30pt;
    padding-top: 30%;
}

.fa-object-group {
    content: "\f247";
    color: #43a9ff;
    font-size: 30pt;
    padding-top: 30%;
}

.fa-book-open {
    content: "\f518";
    color: #43a9ff;
    font-size: 30pt;
    padding-top: 30%;
}

.Service {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.container5 {
    background-image: url(./images/ggq1.png);
    text-align: center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1000px;
    min-height: 568px;
    background-position-x: 50%;
}

.container5 img {
    position: relative;
    bottom: 0px;
}

.nor {
    height: 580px;
}

.noy {
    height: 452px;
    top: 145px;
    right: 160px;
}

.container5:hover {
    background-image: url(./images/d.png);
}

.container6 .q1111 {
    width: 100%;
}

.container6 .row_option {
    padding-bottom: 65px;
}

.container6 nav a {
    display: block;
    transition: .4s ease-in-out;
}

.torments .down {
    border: 1px solid #a4a6a7;
    font-weight: 600;
}

.torments>li>a {
    width: 100%;
    color: #000000;
}


.torments .fa-image {
    font-size: 25pt;
    color: #43a9ff;
    padding: 0px 10px;
}

.fa-chevron-down {
    content: "\f078";
    color: #a4a6a7;
    font-size: 25pt;
    padding-left: 60%;
}

.fa-dot-circle {
    content: "\f192";
    color: #43a9ff;
    font-size: 25pt;
    padding: 0px 10px;
}

.fa-dot-circle {
    content: "\f192";
}

.container6 .torments span {
    color: rgba(255, 0, 0, 0);
}

.sub {
    border: 1px solid #a4a6a7;
    width: 100%;
    height: 10px;
    transform: perspective(600px) rotateX(-90deg);
    transition: .5s ease-in-out;
}

.torments>li:hover .sub {
    overflow: auto;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
    height: 200px;
    color: #dad2d2;
    margin-bottom: 10px;
}

.container7 {
    background-color: rgb(230, 223, 223);
}

.bloc {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 3% 0%;
}

.ppp {
    padding: 0% 3%;
}

.po {
    padding-bottom: 6%;
}

.fa-comments {
    content: "\f086";
    color: #43a9ff;
    padding: 20px;
    border: 1px double #43a9ff;
    font-size: 37pt;
}

.all {
    color: rgba(80, 80, 80, 0.966);
    font-size: 30pt;
    padding: 19px 23px;
}

.fa-facebook-f {
    content: "\f39e";
}

.fa-twitter {
    content: "\f099";
}

.fa-instagram {
    content: "\f16d";
}

.cards .op {
    width: 32%;
}

.cards .op img {
    max-width: 100%;
}

.grid_cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

.grid_cards .op img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid_cards .op:nth-child(3) {
    background-image: url('./images/grid3.png');
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid_cards .op:nth-child(1) {
    background-image: url('./images/grid1.png');
    grid-row: 1/2;
    grid-column: 1/2;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid_cards .op:nth-child(2) {
    background-image: url('./images/grid2.png');
    grid-row: 1/2;
    grid-column: 2/3;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.grid_cards .op:nth-child(4) {
    background-image: url('./images/grid4.png');
    grid-row: 1/2;
    grid-column: 4/5;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid_cards .op:nth-child(5) {
    background-image: url('./images/grid5.png');
    grid-row: 2/3;
    grid-column: 1/2;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid_cards .op:nth-child(6) {
    background-image: url('./images/grid6.png');
    grid-row: 2/3;
    grid-column: 2/3;
    background-size: cover;
    background-repeat: no-repeat;
}

.grid_cards .op:nth-child(7) {
    background-image: url('./images/grid7.png');
    grid-row: 2/3;
    grid-column: 4/5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
}


.op .met {
    text-align: center;
    height: 100%;
    color: rgba(252, 252, 252, 0);
}

.op .met i {
    font-size: 25pt;
    color: rgba(252, 252, 252, 0);
    padding-top: 48%;
}

fa-image {
    content: "\f03e";
}

.op .met h6 {
    font-size: 14px;
    text-align: center;
}

.op .met .p1 {
    font-size: 15px;
    font-family: 'Roboto', 'Light Italic';
    text-align: center;
    padding-bottom: 13%;
}

.op:hover .met {
    color: rgb(255, 255, 255);
    background: linear-gradient(rgba(245, 64, 88, 0.8), rgba(248, 246, 98, 0.8));
}

.op:hover i {
    padding-top: 33%;
    color: rgb(255, 255, 255);
}

.container9 .hipster {
    max-width: 100%;
}

.dark_grey {
    padding: 2% 2%;
}

.container9 {
    background-color: rgb(230, 223, 223);
}

.container12 {
    background-image: url('./images/container12.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.container_add {
    padding-top: 87px;
}

.container_add .media-body h5 {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}

.container_add .media-body .designer {
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    color: #3f3f3f;
}

.container_add .media-body hr {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

.container_add .media-body .description {
    font-size: 15px;
    font-family: 'Roboto';
    color: #999999;
    width: 90%;
}

.container_add .item_media {
    margin-bottom: 50px;
}

@media(max-height: 1300px) {
    .content h1 {
        font-size: 120px;
    }
}

@media(max-height: 1200px) {
    .blu {
        font-size: 40px;
    }

    .content h2 {
        font-size: 50px
    }

    .content h1 {
        font-size: 80px;
    }

    .container9 .hipster {
        height: 7em;
    }

    .fa-chevron-down {
        padding-left: 47%;
    }
}

@media(min-height: 1000px) {
    .content h2 {
        padding-top: 145px;
    }
}

@media(max-width: 1064px) {
    .blu {
        border-right-width: 1px;
    }

}

@media(max-width: 1024px) {
    .center {
        width: 100%;
    }

    .Service {
        width: 100%;
    }

    .bloc {
        width: 100%;
    }

    .menu {
        display: none;
    }

    .cards .item {
        width: 30%;
        padding-right: 15px;
    }
}

@media(max-width: 993px) {
    .fa-chevron-down {
        padding-left: 29%;
    }
}



@media(max-width: 860px) {
    .content h2 {
        padding-top: 1.5vh;
    }

    .fa-chevron-down {
        padding-left: 29%;
    }
}

@media(max-width: 840px) {
    .noy {
        height: 361px;
    }

    .nor {
        height: 430px;
    }
}

@media(max-width: 767px) {
    .cards .item {
        width: 30%;
        padding-right: 20px;
        padding-top: 20px;
    }

    .cards .op {
        width: 46%;
        padding-bottom: 20px;
    }

    .grid_cards {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .grid_cards .op:nth-child(3) {
        grid-row: 3/5;
        grid-column: 1/2;
    }

    .grid_cards .op:nth-child(4) {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .grid_cards .op:nth-child(7) {
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .AMAZING {
        grid-template-columns: 0.2fr 0.8fr 0.2fr 0.8fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .AMAZING .pq:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .container6 .torments {
        padding-top: 10px;
    }

    .fa-chevron-down {
        padding-left: 55%;
    }
}

@media(max-width: 610px) {
    .nor {
        height: 368px;
    }

    .noy {
        height: 320px;
        right: 180px;
    }
}

@media(max-width: 600px) {
    .content h2 {
        font-size: 48px;
    }

    .cards .item {
        width: 96%;
    }

    .container3 {
        flex-wrap: wrap;
    }

    .list .blu {
        width: 31%;
    }

}

@media(max-width: 575px) {
    .container9 .hipster {
        height: 6em;
        padding: 0 8%;
    }
}

@media(max-width: 530px) {
    .content h1 {
        font-size: 61px;
    }

    .container5 img {
        bottom: -29px;
    }

    .nor {
        height: 300px;
    }

    .noy {
        height: 240px;
        right: 149px;
    }

    .ppp {
        padding: 0% 1%;
    }

    .all {
        padding: 43px 7px;
    }

    .fa-comments {
        margin-top: 34px;
    }
}

@media(max-width: 500px) {
    .content h1 {
        font-size: 61px;
    }

    .AMAZING {
        grid-template-columns: 0.2fr 0.8fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .AMAZING .pq:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .fa-chevron-down {
        padding-left: 45%;
    }
}

@media(max-width: 450px) {
    .container5 img {
        bottom: -34px;
    }
}


@media(max-width: 425px) {
    .content h2 {
        font-size: 31px;
    }

    .content h1 {
        font-size: 51px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    .container5 img {
        bottom: -83px;
    }

    .noy {
        top: 143px;
        height: 190px;
        right: 120px;
    }

    .nor {
        height: 250px;
    }

    .grid_cards {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 7);
    }

    .grid_cards .op:nth-child(7) {
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .grid_cards .op:nth-child(2) {
        grid-row: 6/7;
        grid-column: 1/2;
    }

    .grid_cards .op:nth-child(6) {
        grid-row: 7/8;
        grid-column: 1/2;
    }

    .grid_cards .op:nth-child(4) {
        grid-row: 7/8;
        grid-column: 1/2;
    }

}

@media(max-width: 400px) {
    .fa-chevron-down {
        padding-left: 35%;
    }

    .container9 .hipster {
        height: 6em;
        padding: 0px 3%;
    }

}


@media(max-width: 350px) {
    .container5 img {
        bottom: -117px;
    }

    .noy {
        top: 172px;
        height: 170px;
        right: 105px;
    }

    .nor {
        height: 220px;
    }
}

@media(max-width: 345px) {
    .fa-chevron-down {
        padding-left: 29%;
    }
}